*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: auto;
    background-color: rgb(233, 233, 233);
}

/* Navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height: auto;
    z-index: 1;
    top: 0;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    margin-right: 1rem;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(106, 233, 255);
    border-radius: 5rem;
  }  
  
  .topnav a.active {
    background-color: #d4d4d4;
    color: white;
  }
  .topnav img {
    margin-left: 4rem;
    width: 100px;
    height: auto;
  }

/* Overlay */
.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .header img{
    z-index: -1;
    width: 100%;
    height: auto;
    display: block;
    margin-top: -10rem;
  }

  .overlay{
    position: absolute;
    left: 47rem; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white;
    padding: 20px; 
    border-radius: 2px; 
    width: 100%;
    margin-left: -15px;
    align-items: center;
    align-content: center;
  }

  .overlay h1 {
    margin-left: -5rem;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: transparent;
    color: white;
    text-align: center;
    font-family: sans-serif;
  }

  .overlay h2 {
    font-size: 2rem;
    text-align: center;
    margin-right: 100px;
    margin-top: 60px;
  }

  /* destination */
.product{
    margin-top: 5rem;
    align-items: center;
    align-content: center;
    }
  
    .product h1 {
      text-align: center;
      color: black;
      font-size: 3rem;
      margin-bottom: 3rem;
    }

    .product a {
        color: #616161;
        font-size: 2rem;
        gap: 30rem;
        align-content: center;
        margin-left: 15rem;
    }

    .product a:hover{
        background-color: #ffffff;
        padding: 1rem;
        border-radius: 1rem;
        color: aqua;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
  
    .product h2{
      margin-bottom: 3rem;
      text-align: left;
      margin-left: 5rem;
    }
    
    .product-container {
    margin-left: 1rem;
    display: flex;
    justify-content: center; 
    gap: 3rem; 
    flex-wrap: nowrap; 
    padding: 3rem;
    }
    
    .product-item{
      background: #fff;
      border-radius: 1rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20rem;
      gap: 1rem;
    }
  
    .product-item img {
    margin-top: -2rem;
    border-radius: 2rem;
    width: 20rem;
    height: 13rem;
    object-fit: cover;
    object-position: center top; 
    transition: transform 0.3s ease-in-out;
    object-position: 100% center;
    }
  
    .product-item h3 {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 0.5rem;
    font-weight: normal;
    color: rgb(0, 0, 0);
    padding: 0 1rem;
    }
  
    .product-item h4 {
      color: rgb(90, 90, 90);
      font-size: 1.2rem;
      text-align: left;
      margin: 1rem;
      font-weight: normal;
      margin-top: 1rem;
      margin-right: 2rem ;
    }

    /* Introduction */
    /* Introduction */
.introduction{
    display: flex; /* Enables flexbox */
    align-items: center; /* Aligns items vertically */
    justify-content: flex-start; /* Push content to the right */
    gap: 1rem; /* Adds space between image and text */
    padding: 1rem; /* Adds spacing inside */
    transform: translateY(100px);
    transition: opacity 2s ease-out, transform 2s ease-out;
    margin-top: -1rem;
    margin-left: 3rem;
  }
  
  .introduction img {
    width: 30rem;
    height: auto;
    object-fit: cover;
    }
  
  .introduction .text {
    color: rgb(39, 35, 88);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify;
    border: 2px solid rgb(0, 0, 0);
    padding: 3rem;
    flex: 1;
    line-height: 3rem;
    
    }
  
    .introduction h1{
        margin-left: 5rem;
        font-size: 3rem;
        text-align: justify;
        color: rgb(0, 0, 0);
        display: inline-block; /* Ini membatasi border mengikuti panjang konten */
        padding-bottom: 0.5rem;
        line-height: 4rem;
      }
  
    .introduction p {
      font-size: 25px;
      text-align: justify;
      color: rgb(73, 73, 73);
      margin-left: 5rem;
      margin-right: 15rem;
      line-height: 3rem;
      margin-bottom: 5rem;
    }

    .introduction a{
        padding: 1rem;
        background-color: rgb(61, 122, 255);
        border-radius: 1rem;
        margin-left: 5rem;
        color: white;
        font-size: 2rem;
    }

    /* Overlay */
.promo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30rem;
  }

  .promo img{
    z-index: -1;
    width: 90%;
    height: auto;
    display: block;
    margin-top: -10rem;
  }

  .promo{
    position: absolute;
    left: 42rem; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white;
    padding: 20px; 
    border-radius: 2px; 
    width: 100%;
    margin-left: -15px;
    align-items: center;
    align-content: center;
  }

  .promo h1 {
    margin-left: -5rem;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: transparent;
    color: white;
    text-align: center;
    font-family: sans-serif;
  }

  .promo a{
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    color: rgb(61, 122, 255);
    font-size: 2rem;
}
